
<header>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Home", jobs_path %></li>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
      <li><%= link_to "Add Discussion", new_job_path %></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</header>	

<h1> Hello,Welcome to my board !!!</h1>
<p> you can give me some discussion~~</p>
<p> -------------------------------------------------------------------------------------------------------------------</p>



<% @jobs.each do |job| %>
  <div>

  <h2><%= job.title%></h2>
  <h5><%= job.description %></h5>

  <p><%= button_to "Edit Posting", edit_job_path(job),:method => "get"%></p>
  <p><%= button_to 'Delete Posting', job, :method => :delete, data: { confirm: 'Delete?' } %></p>
  <p> -------------------------------------------------------------------------------------------------------------------</p>
  </div>
<% end %>